<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css"/>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
    </style>
    <title>Profile</title>
</head>
<body>
    <%- include('../partials/headers'); %>
    <article>
        <h2>Added Songs</h2>

        <% tracklist.forEach(function(track) { %>
            <h2><%=track.title%></h2>
            <p>Artist: <%=track.artistname%></p>
            <p>Year: <%=track.year%></p>
            <p>Genre: <%=track.genre%></p>
        <% }) %>
    </article>
</body>
</html>