<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css"/>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
    </style>
    <title>Profile</title>
</head>
<body>
    <%- include('../partials/headers'); %>
    <h1>Added Songs</h1>
    <article>
        <% tracklist.forEach(function(track) { %>
            <section class="blocks">
                <img src="images/demo.jpg" class="img" alt="foto">
                <div id="thumbnail"></div>
                <h2><%=track.title%></h2>
                <h3>Artist:</h3>
                <p><%=track.artistname%></p>
                <h3>Released Year:</h3>
                <p><%=track.year%></p>
                <h3>Genre:</h3>
                <p><%=track.genre%></p>
                <h3>Producer:</h3>
                <p><%=track.producer%></p>
            </section>
        <% }) %>
    </article>
    <script src="/js/observer.js"></script>
    <script src="/js/image.js"></script>
</body>
</html>